<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114809887796-akt8t2ima0bvjqvjjepdrocoe84l27ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114809887796-akt8t2ima0bvjqvjjepdrocoe84l27ms</string>
	<key>API_KEY</key>
	<string>AIzaSyCdAeXlQibQ3GKry4JL-QYaDM4NxR3hPXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>114809887796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexcho617.hemweb</string>
	<key>PROJECT_ID</key>
	<string>hemweb</string>
	<key>STORAGE_BUCKET</key>
	<string>hemweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114809887796:ios:b763fdacb2dc878a717e61</string>
</dict>
</plist>